header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
}

.gnb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gnb li {
  margin-right: 1rem;
}

.wrapper {
  padding: 1rem;
}

/* part1 */
.part1 .contents {
  width: 100%;
  height: 600px;
  background-color: #f0f0f0;
  position: relative;
  cursor: none;
  overflow: hidden;
  margin: 1rem 0;
}

.cursor {
  mix-blend-mode: multiply;
  width: 2rem;
  height: 2rem;
  background-color: aquamarine;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  margin: -1rem 0 0 -1rem;
}

/* part2  */

.part2 {
  width: 100%;
  background-color: azure;
  height: 100vh;
  position: relative;
  overflow: hidden;
  perspective: 500px;
  cursor: pointer;
}

.part2 .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  white-space: nowrap;
  font-weight: bold;
  color: #fff;
  z-index: 5;
  transform-style: preserve-3d;
}

.part2 .model {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  z-index: 10;
}

.part2 .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* will-change: transform; */
  height: 100%;
  transform: scale3d(2, 2, 1);
  transform-style: preserve-3d;
}
